{
	"env": {
		"browser": true,
		"node": true
	},
	"extends": [
		"@react-native-community",
		"eslint:recommended",
		"plugin:react-hooks/recommended",
		"plugin:import/recommended"
	],
	"plugins": ["react", "import"],
	"parser": "@babel/eslint-parser",
	"root": true,
	"rules": {
		"prettier/prettier": "off",
		"semi": "off",
		"no-console": ["warn", { "allow": ["info", "error"] }],
		"import/named": "off",
		"import/order": [
			"error",
			{
				"groups": [
					"builtin",
					"external",
					"internal",
					"parent",
					"sibling",
					"index",
					"object",
					"type"
				],
				"pathGroups": [
					{
						"pattern": "{react,react*,react*/**}",
						"group": "external",
						"position": "before"
					}
				],
				"pathGroupsExcludedImportTypes": ["react", "unknown"],
				"newlines-between": "always",
				"alphabetize": {
					"order": "asc",
					"caseInsensitive": true
				}
			}
		]
	}
}
